input {
	display: block;
}

textarea.hidden {
	position: fixed;
	top: 80px;
	left: 2000px;
	width: 2000px;
}

#code-editor {
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-top: 2px;
	outline: none;
	background-color: white;
	height: 534px;
	overflow: auto;
}

#code-editor.focus {
	border-color: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

#code-editor > div {
	position: relative;
}

#editor-text-panel {
	position: absolute;
	z-index: 2;
	outline: 0;
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
	margin: 0 0 0 34px;
	border-left: 1px solid rgba(0, 0, 0, 0.25);
	padding: 2px 3px;
	outline: none;
	height: auto;
	white-space: pre;
	word-wrap: break-word;
	cursor: text;
	counter-reset: line-num;
}

#editor-text-panel aside {
	position: relative;
}

#editor-text-panel aside:before {
	position: absolute;
	display: block;
	top: 0;
	left: -35px;
	width: 34px;
	counter-increment: line-num;
	content: counter(line-num);
	color: #5A5A5A;
	cursor: default;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#editor-back-panel {
	position: absolute;
	z-index: 1;
	margin: 0 0 0 35px;
	padding: 2px 3px;
	white-space: pre;
	word-wrap: break-word;
	color: white;
}

div#editor-back-panel > span.selection {
	display: inline;
	background-color: #FFE0A0;
	white-space: pre;
}

div#editor-back-panel > span.caret {
	display: inline-block;
	white-space: pre;
	width: 1px;
	height: 1.4em;
	background-color: black;
}

@keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
}

@-moz-keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
}

@-webkit-keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
}

@-ms-keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
}

.blink {
	animation: blink 1.4s linear .3s infinite;
	-moz-animation: blink 1.4s linear .3s infinite;
	-webkit-animation: blink 1.4s linear .3s infinite;
	-ms-animation: blink 1.4s linear .3s infinite;
}

span::-moz-selection {background: #FFE0A0}
span::selection {background: #FFE0A0}